.container {
	background-color: white;
	height: 42em;
	margin-left: -100px;
	width: 650px;
	margin-top: -5em;
	display: grid;
	grid-template: 'inputs pdf';
	border: 1px solid black;
	overflow-y: scroll;
	float: left;
}
body {
	background-color: black;
}

/* div that contains form */
.inputDiv {
	grid-area: inputs;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.pdfDiv {
	grid-area: pdf;
	margin-left: 50px;
	margin-top: -5em;
	height: 650px;
	width: 650px;
	float: right;
}
/* height and width must match pdfDiv*/
iFrame {
	height: 42em;
	width: 650px;
}
.logout {
	position: absolute;
	right: 0px;
	top: 0px;
}
.both {
	display: inline-block;
}
body {
	overflow: hidden;

}
.Resume_title {
	font-size: 50px;
	font-weight: bold;
	color: #34568b;
}
.boundry {
	border-bottom: 2px solid black;
}
.navbar {
	position: absolute;
	top: 0px;
	left:0px;
	width: 100%;
}
.center
{
	text-align: center;
	margin-left:75px;
}
h1{
	text-align: center;
}