.container {
	background-color: white;
	height: 700px;
	margin-left: 25px;
	width: 650px;
	margin-top: -100px;
	display: grid;
	grid-template: 'inputs pdf';
	border: 1px solid black;
	overflow-y: scroll;
	float: left;
}
body{
	background-color: black;
}
.inputDiv {
	grid-area: inputs;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.pdfDiv {
	grid-area: pdf;
	float: right;
	margin-left: 100px;
	margin-top: -100px;
}

iFrame {
	height: 700px;
	width: 700px;
	align: center;
}
.logout {
	position: absolute;
	right: 0px;
	top: 0px;
}
.both {
	display: inline-block;
	margin-left: 5%;
}
#videobackground .gradient {
	background: -moz-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
	background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
	background: linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
	}
	
	#videobackground .view video {
	top: 0!important;
	left: 0!important;
	transform: none!important;
	height: 100vh;
	}